/* GLOBAL */
h1 {
  text-align: center;
}

h3 {
  margin: 10px;
}

ul {
  padding: 0px;
}

/* LIST STREAMS */
.list-streams {
  position: relative;
  text-align: center;
  width: 30%;
  margin: 0px auto;
}

/* CREATE STREAM: STEP 1 */

.create-stream-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: 0px auto;
  margin-top: 20px;
  margin-bottom: 100px;
  line-height: 30px;
}

.cart {
  border: 1px solid black;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

.select-token-dropdown {
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
}

.button-validate-select-token {
  position: relative;
  margin-top: 10px;
  width: 100px;
  height: 30px;
}



/* CREATE STREAM: STEP 2 */
.slider-select-time {
  margin-bottom: 3em;
}


/* CREATE STREAM: STEP 3 */
.payment-flow {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

/* STREAM STATUS */
.stream-status-bar-container {
  width: 100%;
  border: 1px solid #111;
  border-radius: 4px;
  position: relative;
  height: 24px;
}

.stream-status-bar-progress {
  height: 100%;
  background-color: #111;
}

.stream-status-bar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 100%;
  text-align: center;
}

.status-graph {
  position: relative;
  width: 15%;
  margin-top: 30px;
}

.dropdown-select {
  position: relative;
  margin-bottom: 10px;
}

/* SELECTED STREAMS */
.selected-stream-components {
  border: 1px solid black;
  text-align: center;
  width: 50%;
  padding: 20px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dropdown-streamselected {
  position: relative;
  text-align: center;
  width: 30%;
}

/* CANCEL STREAM */

.stream-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label-close-modal {
  text-align: center;
}
