body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.list-streams {
  position: relative;
  text-align: center;
}

.cart {
  border: 1px solid black;
  text-align: center;
  margin: 1em;
  padding: 1em;
}

/* step 1 */
.select-token-dropdown {
  color: red;
  width: 200px;
  height: 50px;
  margin-bottom: 30px;
}

.button-validate-select-token {
  color: red;
  position: relative;
  margin-top: 10px;
  width: 100px;
  height: 30px;
}

.loading-message-token-balance {
  color: red;
}

.loading-message-balance {
  color: red;
}

/* step 2 */
.slider-select-time {
  width: 30%;
  margin-bottom: 5em;
}

.button-validate-transaction {
  color: red;
}
.validate-transaction-message {
  color: red;
}

/* step 3 */

.button-create-stream {
  color: red;
}

.create-stream-approval-message {
  color: red;
}

.payment-flow {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.status-graph {
  width: 10%;
  position: relative;
  margin-top: 30px;
  left: 45%;
  display: flex;
  flex-direction: column;
}

/* STREAM STATUS BAR */

.stream-status-bar-container {
  width: 100%;
  border: 1px solid #111;
  border-radius: 4px;
  position: relative;
  height: 24px;
}

.stream-status-bar-progress {
  height: 100%;
  background-color: #111;
}

.stream-status-bar-label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 100%;
  text-align: center;
}

.dropdown-select {
  position: relative;
  margin-bottom: 10px;
  margin-top: 50px;
}

.countdown-label {
  position: relative;
  margin-top: 10px;
  text-align: center;
}

/* CANCEL STREAM */

.stream-container {
  position: relative;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.label-close-modal {
  text-align: center;
}
