body.tokyoNight {
  background-color: #004687;
  font-family: "Tomorrow", sans-serif;
}

.app.tokyoNight {
  color: #fff;
  background-color: #004687;
}

.app.tokyoNight .theme-toggle-button {
  background-color: #00ffd2;
  color: #fff;
}
