name: ApePay

plugins:
  - name: arbitrum
  - name: optimism
  - name: titanoboa
  - name: vyper

compile:
  output_extra:
    - ABI  # Output individual ABIs for the frontend.

ethereum:
  local:
    default_provider: boa

deployments:
  ethereum:
    sepolia: &releases
      - contract_type: StreamFactory
        address: 0x92823EB2DB42b8df354EDB5A1FB3668057e2935D
        salt: "ApePay v0.3"

      - contract_type: StreamManager
        address: 0x6A1aa538ebB85Fd98655eCEe5EaB7D9cb3cbCD2B
        salt: "ApePay v0.3"
        blueprint: true

  arbitrum:
    mainnet: *releases
  optimism:
    mainnet: *releases

test:
  gas:
    exclude: &exclude-mocks
      - contract_name: Test*
  coverage:
    exclude: *exclude-mocks
    reports:
      terminal:
        verbose: true
